description "Start and stop the kafka service "

env HOME=/opt/kafka

start on (net-device-up
          and local-filesystems
          and runlevel [2345])
stop on runlevel [016]

respawn
respawn limit 5 60

pre-start script
    test -x $HOME/bin/kafka-server-start.sh || { stop; exit 0; }
    test -f $HOME/config/server.properties || { stop; exit 1; }
end script

script
    chdir $HOME
    exec bin/kafka-server-start.sh config/server.properties
end script
