SEVERITY_MAP = {
    'fatal': 0,
    'critical': 1,
    'warning': 4,
    'indeterminate': 5,
    'ok': 5,
    'unknown': 9
}

BASE_URL = '/api'

PLUGINS=['prometheus','customtimeout']
CUSTOM_TIMEOUT = 21600
#ALERTMANAGER_API_URL = 'http://{{ prometheus_ip }}:9093'
ALERTMANAGER_SILENCE_DAYS = 1

LOG_FILE = '/var/log/alerta/alerta.log'

#AUTH_REQUIRED = True
#ADMIN_USERS = ['myemail@domain']
#ALLOWED_EMAIL_DOMAINS = ['mydomain']

SECRET_KEY = '{{ alerta_secretkey.stdout }}'

